<!DOCKTYPE html>
<head>
{% block title %}summon fgo characters:{% endblock title %}
{% block head %}

{% endblock head %}
<!--end:make it so when you click on your summoned servant it connects to an api and shows  you  a detailed page of their np,class,rarity,and an image:1.create a detailed page logic,url and html template-->
 </head>
<body>
<nav>
<p>
<!--use this to summon a servant(form):-->
<form method="post" action = "{% url 'summon' %}">{% csrf_token %}
{{form.name}}
<button type = "submit"> summon servant </button>
 </form>
<!--shows a link to the character and home page:--> 
<a href="{% url 'char-list' %}"> character list</a>
  <a href="{% url 'home' %}"> Take me home </a>
 </p>
</nav>
  {% block content %}
  {% endblock content %}
</body>